<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    body{
        text-align: center;
        background-color: aquamarine;                     
    }       
</style>
<body>
    <form method="post">
    <div>
    <h1>login to your account</h1>
    <input type="account number" name="acn" placeholder="account number">
    </div><br>
<div>
    <input type="enter pin" name="pin" placeholder="enter pin">
</div><br>
<div>
    <button>submit</button>
</div>
</form>

</body>
</html>