<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<style>
    body{
        text-align: center;
        color: coral;
        background-color: black;

    }
</style>
<body>
    <div>
        <h1>About us</h1>
        <p>Canara Bank is an Indian public sector bank based in Bangalore, India. Established in 1906 at Mangalore by Ammembal Subba Rao Pai. The bank was nationalized in 1969. Canara Bank also has offices in London, Dubai and New York</p>
    <h1>Welcome to ATM Application</h1> 
<a href="{{url_for('create')}}"></a><button>create</button></a>
</div><br>
<div>  
   <a href="{{url_for('login')}}"></a> <button>login</button>
</div><br>    
</body>
</html>